<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GSI Tiles on Cesium</title>
<script src="https://cesium.com/downloads/cesiumjs/releases/1.63.1/Build/Cesium/Cesium.js"></script>
<link href="https://cesium.com/downloads/cesiumjs/releases/1.63.1/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
<style>
  #cesiumContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: sans-serif;
  }
  html {
    height: 100%;
  }
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
  }
</style>
</head>

<body>
<div id="cesiumContainer"></div>
<script>
  // Get your token from https://cesium.com/ion/tokens
  // Cesium.Ion.defaultAccessToken = 'your_token_here';
  Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI5N2UyMjcwOS00MDY1LTQxYjEtYjZjMy00YTU0ZTg5MmViYWQiLCJpZCI6ODAzMDYsImlhdCI6MTY0Mjc0ODI2MX0.dkwAL1CcljUV7NA7fDbhXXnmyZQU_c-G5zRx8PtEcxE';
  // imageryProviderを設定
  var imgProvider1 = new Cesium.createOpenStreetMapImageryProvider({
      url: 'https://cyberjapandata.gsi.go.jp/xyz/std/',
      credit: new Cesium.Credit('地理院タイル', '', 'https://maps.gsi.go.jp/development/ichiran.html')
    });
  var imgProvider2 = new Cesium.UrlTemplateImageryProvider({
    url: 'https://gic-plateau.s3.ap-northeast-1.amazonaws.com/2020/ortho/tiles/{z}/{x}/{y}.png',
  })
  var terrainProvider1 = new Cesium.CesiumTerrainProvider({
          url: Cesium.IonResource.fromAssetId(770371)
      })
  var viewer = new Cesium.Viewer('cesiumContainer', {
    imageryProvider: imgProvider2,
    terrainProvider:terrainProvider1,
    // baseLayerPicker: false,
    // geocoder: false,
    // homeButton: false
  });
  //①建物モデルの追加
  var your_3d_tiles = viewer.scene.primitives.add(new Cesium.Cesium3DTileset({
    url : 'https://plateau.geospatial.jp/main/data/3d-tiles/bldg/13100_tokyo/13104_shinjuku-ku/low_resolution/tileset.json'
  }));
  // ②カメラのズーム
  viewer.flyTo(your_3d_tiles);
  // viewer.camera.setView({
  //   destination : Cesium.Cartesian3.fromDegrees(140.00, 36.14, 20000000.0)
  // });
</script>
</body>
</html>
